* {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color:rgb(255, 17, 30); 
    text-align: center;
    font-size: 35px;
    color: white;
    padding: 67px;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #862d2d;
    height: 305px; 
    font-size: 18px;
    color: white;
    position: relative;
}

section::after {
    content: "";
    display: table;
    clear: both;
}
section .teste{
    background-color:#1ad1ff;
    background-image: url(/aula07/img/calda2.png);
    height: fit-content;
    background-image: center;
}
.img{
    width: 17%;
    height: 20%;
    padding: 10px;
    background-color:#1ad1ff;
}

footer {
    background-color: rgb(255, 17, 30);
    text-align: center;
    color: white;
    padding: 65px;

}

@media (max-width: 900px) {
    nav, article {
    width: 100%;
    height: auto;
    }
}

.a ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #862d2d;
    position: relative;
}
