.caixa {
    border: 5px solid #000000;
    padding: 5%;
    margin: 10%;
}

.img {
    border: 2px solid #000000;
    padding: 10px;
}

.descricao {
    border: 2px solid #000000;
    padding: 20px;
}

.nome {
    border: 2px solid #000000;
    padding: 20px;
}

.mais {
    border: 2px solid #000000;
    padding: 20px;
}

.viage {
    border: 2px solid #000000;
    padding: 20px;
}

.imgv {
    box-shadow: 0 4px 8px 0 #000000, 0 6px 20px 0 #000000;
    padding: 5px 5px 1px 5px;
}